@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	background-color: #000;
}

@font-face {
	font-family: 'digitalFont';
	src: url('fonts/DS-DIGII.TTF') format('truetype'); 
}

#canvas {
	background-color: #fff;
}

#header {
	height: 40px;
	background-color: #F2F2F2;
	border-bottom-style:solid;
	border-color: #999999;
	border-bottom-width: 2px;
	width: 100%;
	min-width: 1200px;
	border-top:0px;
	border-right:0px;
	border-left:0px;
	overflow: visible;
	
}

#header-container {
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}

#mozza-logo {
	background-image:url('./images/logo_mozza_header.png');
	background-repeat: no-repeat; 
}

#app-name {
	padding-left: 168px;
	padding-top: 5px;
	cursor: default;
}

#page {
	width:1200px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 3px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #999999;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #999999;
}

.stage {
	margin-top: 25px;
}

.stage-name {
	padding-left: 30px;
	cursor: default;
}

.stage-number {
	float: left;
}

#image-container {
	width:1225px;
	margin-top: 24px;
	position:relative;
	left:0px;
}

.image {
	border-radius:4px;
	overflow: hidden;
	width: 220px;
	height: 220px;
	margin-right: 25px;
	margin-bottom: 25px; 
	float: left;
	cursor: pointer;
}

.image-name {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: none;
	color: #E6E6E6;
}

.highlighted {
	box-shadow: 0px 0px 10px yellow;
}

.selected {
	background-color : yellow !important;
	box-shadow : 0px 0px 10px #E6E6E6;
	cursor : pointer !important;
}

#image1 {
	background-image: url('images/stanford-bunny.png');
}

#image2 {
	background-image: url('images/spiral_ornament.png');
}

#image3 {
	background-image: url('images/swedish_moose.png');
}
#image4 {
	background-image: url('images/owl_statue.png');
}
#image5 {
	background-image: url('images/rodins_thinker.png');
}
#image6 {
	background-image: url('images/squirrel.png');
}
#image7 {
	background-image: url('images/turbine.png');
}
#image8 {
	background-image: url('images/saphos.png');
}
#image9 {
	background-image: url('images/bracelet.png');
}

#upload {
	border-radius:4px;
	overflow: hidden;
	width: 220px;
	height: 220px;
	float: left;
	background-color: #E6E6E6;
	text-align:justify;
	background-image: url('./images/arrow.png');
	background-repeat: no-repeat;
	background-position: 50% 40%;
}

#upload-bn {
	width: 200px;
	height: 200px;
	position:relative;
	top:10px;
}


#input {
	opacity: 0;
}

#up-text {
	width:220px;
	text-align: center;
	position: relative;
	top: -58px;
	cursor: pointer;
}

input[type="file"] {
	align-items: baseline;
	color: inherit;
	height:200px;
	background-color: red;
	cursor: pointer;
}

#inputBox {
	position: relative;
	left: -6px;
}

#up-confirmation {
	position: relative;
	top: -70px;
	width: 220px;
	text-align: center;
	opacity: 0;
	cursor: default;
	font-size: 2em;
}

.next-bn {
	width: 100px;
	background-color: #E6E6E6;
	border-radius:4px;
	float: right;
	height: 25px;
	padding-left: 15px;
	margin-bottom: 100px;
	cursor: default;
}

#microwave {
	width: 1200px;
	height:650px;
	margin-top: 20px;
	background-image: url('./images/metal.jpg');
	border-radius:16px;
	border-style:solid;
	border-color: #999999;
	border-width: 4px;
	box-shadow: 0px 10px 30px #000;
}

#mw-left {
	float: left;
	width: 900px;
	height: 650px;
	border-right-style:solid;
	border-right-color: #000;
	border-right-width: 10px;
}

#mw-door {
	background-color: #000;
	border-radius:16px;
	width: 800px;
	height: 550px;
	margin-left: 50px;
	margin-top: 50px; 
}

#mw-canvas {
	width: 760px;
	height: 510px;
	margin-left: 20px;
	position: relative;
	top: 20px;
	background-color: #fff;
}

#mw-right {
	overflow: hidden;
}

#mw-logo {
	width: 300px;
	height: 140px;
	background-image: url('./images/Power-MW-2000-Plus.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

#mw-timer {
	width: 220px;
	margin-top: 10px;
	background-color: #5A605C;
	color: #000;
	border-radius:14px;
	margin-left: auto;
	margin-right: auto;
	cursor: default;
}

h4 {
	font-size: 4.8em;
	text-align:center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: digitalFont;
}

#mw-power {
	width: 170px;
	margin-left: 67px;
	margin-top: 50px;
	cursor: pointer;
}

#mw-pow {
	text-align:center;
	cursor: default;
}

.pow-bn {
	width: 20px;
	height: 20px;
	float: left;
	background-color: #5A605C;
	border-style:solid;
	border-color: #000;
	border-width: 2px;
	border-radius: 10px;
	margin-right: 10px;
}

.pow-on {
	background-color: red;
}

#mw-bn {
	width: 180px;
	height: 40px;
	border-radius: 10px;
	background-color: green;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.1em;
	cursor: pointer;
}

.hyperspan {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

#bake {
	display:none;
}

#make {
	display:none;
}

#viewer {
	width: 800px;
	height: 600px;
	background-color: red;
	margin-left: auto;
	margin-right: auto;
}

#dl-button {
	padding: 10px;
	background-color: yellow; 
	margin: 15px; 
	text-align: center;
	width: 780px;
	border-radius:4px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

#share {
	text-align: center;
}

#share-text, #viewer-text {
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: default;
}

#viewer-text {
	text-align: center;
}

#share-buttons {
	padding-bottom: 20px;
}

#footer {
	background-color: #000;
	padding-top: 40px;
	padding-bottom: 40px;
	min-width: 1200px;
	width: 100%;
}

#credits, #credits-text, #contact, #contact-text {
	padding-left: 10px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	color: #E6E6E6;
}

#credits, #contact {
	cursor: pointer;
}

#credits-text, #contact-text {
	display: none;
	cursor: default;
}

#next-bake {
	padding-bottom:25px;
}

#next-make {
	margin-top: 15px;
	padding-bottom: 50px;
}
